/* projeto/frontend/src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 84% 5%; /* Azul bem escuro */
    --foreground: 210 40% 98%; /* Quase branco */
    
    --card: 222 84% 8%; /* Azul um pouco mais claro */
    --card-foreground: 210 40% 98%;

    --primary: 217 91% 60%; /* Azul vibrante para detalhes */
    --primary-foreground: 210 40% 98%;

    --border: 217 91% 60%;
    --input: 222 84% 12%;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}